@import url("https://fonts.googleapis.com/css?family=Charmonman|Roboto");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif; }

h1, h2, h3, h4, h5, h6, p {
  color: #434345; }

h1 {
  font-size: 2em;
  line-spacing: 2em; }

h2 {
  font-size: 2em;
  font-weight: 600; }

h3 {
  font-size: 1.30em;
  font-weight: bolder; }

h4 {
  font-size: 1.12em;
  font-weight: bolder; }

h5 {
  font-size: .83em;
  font-weight: bolder; }

h6 {
  font-size: .75em;
  font-weight: bolder; }

p {
  font-size: 1em;
  line-spacing: 2.5em;
  font-weight: 400; }

a {
  display: block;
  text-decoration: none; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.img-responsive {
  display: block;
  width: 100%;
  height: auto; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    display: table;
    content: '';
    line-height: 0; }
  .clearfix:after {
    clear: both; }

.main-container {
  background: white; }

.banner {
  position: relative; }

.banner .banner_item {
  width: 100%;
  height: 600px; }

.banner_item {
  background: url("../media/slider-1-1920x1080.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(190, 192, 196, 0.4); }

.heading_padding {
  padding: 10px 0; }

.awtar {
  position: absolute;
  top: 35%;
  left: 42%;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  z-index: 2;
  direction: block; }

.header {
  display: flex;
  color: #071733;
  font-weight: 600;
  background-color: #28023d;
  padding: 20px;
  position: absolute;
  top: 10%;
  left: 9%;
  width: 80%;
  justify-content: space-between; }

.port_btn {
  left: 80%;
  top: 10%;
  padding: 10px 20px;
  background: #071733;
  border: 2px solid white;
  border-radius: 5px;
  color: #fff;
  font-weight: 600; }

.banner_navigation {
  display: flex; }
  .banner_navigation a {
    color: white;
    font-weight: 100;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 10px 5px;
    transition: all 0.5s; }
  .banner_navigation a:hover {
    background: rgba(0, 0, 0, 0.3); }

.hero_container {
  padding: 1em 21em;
  padding-bottom: 30em;
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
  background: white;
  margin: 0 auto;
  z-index: 1; }

.hero_awtar {
  position: absolute;
  top: 35%;
  left: 22%;
  text-align: center; }

.fab {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.hero__icons {
  position: relative;
  padding: 10px;
  display: inline-block;
  background: #a298d1;
  height: 30px;
  width: 30px;
  border-radius: 50%; }

.hero_icons_items {
  padding: 20px 0; }

.about-me {
  margin-top: 10em;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 5fr; }

.about__border {
  height: 8px;
  width: 30%;
  border-radius: 4px;
  background-color: #28023d;
  margin-bottom: 10px; }

.about__desc {
  padding: 10px 0; }

.my-work {
  display: grid;
  grid-template-columns: 1fr 5fr;
  padding: 50px; }

img {
  width: 100%; }

/* .work__border {
	height: 8px;
	width: 8%;
	border-radius: 4px;
	background: rgb(255, 173, 1);
	margin-bottom: 10px;
} */
.work_project {
  padding: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.border__skills {
  display: inline-block;
  height: 130px;
  width: 130px;
  background: white;
  border-radius: 50%;
  padding: 20px;
  position: relative;
  border: 2px solid #28023d; }
  .border__skills img {
    height: 30px;
    width: 30px; }

.skills__icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  text-align: center; }

.my-skills {
  display: grid;
  grid-template-columns: 1fr 5fr;
  padding: 50px; }

.resume {
  padding: 40px;
  background: #0f1828; }

.resume__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  color: #fff; }

.blog {
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 3.5fr; }

.contact-me {
  text-align: center;
  padding: 40px;
  color: #fff;
  background: url("../media/slider-2-1920x600.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(190, 192, 196, 0.7); }

.contact__items {
  width: 100%; }

.name {
  padding: 5px 9px; }

.contact_btn {
  padding: 5px 30px;
  border-radius: 8px;
  background: transparent;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  margin-top: 5px; }

.textarea {
  width: 50%; }

/*# sourceMappingURL=style.css.map */
