body {
    color: white;
}
.box {
  width:300px;
  height:180px;
  padding:7px;
  margin:7px;
  display:inline-block;
}
.box1 {
  margin:7px;
  padding:7px;
  width:200px;
  height:180px;
  display:inline-block;
  
}
.wrapper {
  width:800px;
  margin:0 auto;
}

.container {

  background-color:#f44941;
}
.container1 {
  
  background-color:#41f4ac;
}
.container2 {
  
  background-color:#9a41f4;
}
.container3 {

  background-color:#41ebf4;
}
.container4 {

  background-color:#41f467;
}
.container5 {
 ;
  background-color:#88f441;
}
.container6 {

  background-color:yellow;
}
.container7 {
  background-color:#f4b841;
}
.container8 {
  background-color:#f44149;
}
