body {
 color: white;
 margin: 0;
 padding: 0;
}
* {
  box-sizing: border-box;
}
.header {
  height: 50px;
  width: 100%;
  padding: 10px 0px;
  font-size: 10px;
  position: fixed;
  top: 0;
  z-index: 2;
  background: tan;
}
.header h1{
  padding: 0 30px;
}
.nav {
  padding: 20px 30px ;
  color: white;
  margin-top: 50px;
  background: black;
}
.container {
  padding: 0 30px;
  color: black;
}

.parent {
  position: relative;
  height: 500px;
  
 }
img{
  height: 200px;
  width: 200px;
}
 
.image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.footer {
  padding: 20px 30px;
  background: black;
}

