<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Flex-layout</title>
	<link rel="stylesheet" type="text/css" href="assets/stylesheet/style.css">
</head>
<body>

	<section class="wrapper">
		<header class="header">
			<a href=""><h1>Jackets</h1></a>
			<form>
				<div class="filter">
					FILTER BY:<br>
  					<input type="text" name="filter" placeholder="All Jackets"><br>
  				</div>	
  				<div class="filter">	
					SORT BY:<br>
  					<input type="text" name="sort" placeholder="featured">
  				</div>
  				
			</form>
		</header>

		<section class="Jackets-gallery">
				<div class="image-div">
					
					<div class="img1 img2">
						<img src="assets/media/fashion.jpg" alt="jacket">
						<h5>Winter Jacket</h5>
						<h6>$99.99</h6>
					</div>
					<div class="img1 img2">
						<img src="assets/media/fashion.jpg" alt="jacket">
						<h5>Winter Jacket</h5>
						<h6>$99.99</h6>
					</div>

				
				<div class="img1">
					<img src="assets/media/fashion.jpg" alt="jacket">
					<h5>Winter Jacket</h5>
					<h6>$99.99</h6>
				</div>
				<div class="img1">
					<img src="assets/media/fashion.jpg" alt="jacket">
					<h5>Winter Jacket</h5>
					<h6>$99.99</h6>
				</div>
				<div class="img1">
					<img src="assets/media/fashion.jpg" alt="jacket">
					<h5>Winter Jacket</h5>
					<h6>$99.99</h6>
				</div>
				<div class="img1">
					<img src="assets/media/fashion.jpg" alt="jacket">
					<h5>Winter Jacket</h5>
					<h6>$99.99</h6>
				</div>
				<div class="img1">
					<img src="assets/media/fashion.jpg" alt="jacket">
					<h5>Winter Jacket</h5>
					<h6>$99.99</h6>
				</div>
				<div class="img1">
					<img src="assets/media/fashion.jpg" alt="jacket">
					<h5>Winter Jacket</h5>
					<h6>$99.99</h6>
				</div>
				
					<div class="img1">
						<img src="assets/media/fashion.jpg" alt="jacket">
						<h5>Winter Jacket</h5>
						<h6>$99.99</h6>
					</div>
					<div class="img1">
						<img src="assets/media/fashion.jpg" alt="jacket">
						<h5>Winter Jacket</h5>
						<h6>$99.99</h6>
					</div>
				
			</div>
		</section>
	</section>

</body>
</html>