<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>Form & Media-layout</title>
		<link rel="stylesheet" type="text/css" href="assets/stylesheet/style.css">
	</head>
	<body>
		<!-- Main container -->
		<main class="main-container">
			<!-- Header -->
			<header class="header">
			<section class="perimary-container">	
			 	<figure>
					<img src="assets/media/cover10.jpg" alt="hill" class="hill-image">
					</figure>	

					<!-- Navigation -->

					<nav class="navigation ">
						<ul>
							<li><a href="" class="nav text">Home</a></li>
							<li><a href="" class="nav text">About</a></li>
							<li><a href="" class="nav text">Contact</a></li>
						</ul>						
					</nav>
					<h1 class="hero">Altcampus</h1>	
			</section>
			</header>

			<!-- Media section -->

			<section class="media-section">
				<div class="superhero text">
					<div class="audio-text">
						<figure>
							<img src="assets/media/superhero.svg">
						</figure>	
					</div>
					<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>

				<div class="audio-player text">
					<div class="audio-text">
					<audio src="jazz.ogg" class="audio" controls></audio>
					</div>
					
						<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					
				</div>
				<div class="video text">
					<div class="audio-text">
					<video src="earth.ogv" controls></video>
					</div>

					<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</section>

			<section class="A-Classic text">
				<h1>A Classic</h1>

				<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat.</p>
				<br>	
				<iframe width="560" height="315" src="https://www.youtube.com/embed/D4jj3HHrnSU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="embaded-video"></iframe>				
			</section>

				<!-- form Section -->

			<section class="Form-section">
				<div class="contact text">
					<h1 class="text">Contact US</h1>
					<form>
							<input type="text" name="Your Name" placeholder="Your Name" class="name">
							
							<input type="email" name="Your Email Address" placeholder="Your Email Address" class="email">					
						<br>
						<br>
						<input type="text" name="Subject" placeholder="Subject" class="subject"><br><br>
						<textarea name="message" rows="10" cols="100" class="message">
						</textarea>
						<br><br>
						<input type="submit" value="SEND MESSAGE" class="submit">
					</form>
				</div>

			</section>

			<!-- Map section -->

			<section class="map-section text">
				<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d22226.45723718152!2d76.36345922193854!3d32.20839853737877!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1537613099777" width="600" height="450" frameborder="0" style="border:0" allowfullscreen class="map"></iframe>

				<footer class="footer">
					<nav class="">
						<ul>
							<li><a href="" class="nav">Home</a></li>
							<li><a href="" class="nav">About</a></li>
							<li><a href="" class="nav">Contact</a></li>
						</ul>						
					</nav>
				</footer>
			</section>
		</main>
	</body>
</html>