 *,*.before, *.after {
  margin: 0;
  padding: 0;
}

 .left{
   background: salmon;
   padding: 20px;
   width: 50%;
   position: fixed;
   box-sizing: border-box;
   float: left;

}
 .right{
	background: lightgreen;
	box-sizing: border-box;
	padding: 20px;
	width: 50%;
	float: right;
}

