<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Day_23-layout</title>
	<link rel="stylesheet" type="text/css" href="assets/stylesheet/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
	<!-- Main Container -->
	<main class="main-container">
		<section class="perimary-container">

			<!-- Header -->
			<header class="header">				
					<a href="" class="logo"><h2>ALTCAMPUS</h2></a>

					<!-- Navigation -->
				<nav>
					<ul class="navigation">
						<li><a href="" class="nav">PORTFOLIO</a></li>
						<li><a href="" class="nav">ABOUT</a></li>
						<li><a href="" class="nav">CONTACT</a></li>
					</ul>
				</nav>
			</header>

			<!-- Hero section -->

			<section class="hero">
				<img  class="hero-img" src="assets/media/logo.png">
				<h1> ALTCAMPUS AN <br> ALTERNATIVE TO COLLEGE</h1>
				<h6>Web Developer-Graphics Artist-User Experience Designer
			</section>
			

			<!-- Portfolio -->

			<section class="portfolio-section">
				<h2>PORTFOLIO</h2>
				<div class="portfolio">
					<img class="image" src="assets/media/cabin.png">
					<img class="image" src="assets/media/cake.png">
					<img class="image" src="assets/media/circus.png">
					<img class="image" src="assets/media/game.png">
					<img class="image" src="assets/media/submarine.png">
					<img class="image" src="assets/media/safe.png">
				</div>
			</section>

			<!-- About -->

			<section class="about">
				<h2 class="text">ABOUT</h2>
				<div class="paragraph">
					<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


					<div class="para-right">
						<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>			
				</div>
				<div class="text">
					<button class="btn">Apply</button>
				</div>
			</section>

			<!-- Form section -->

			<section class="Form-section">
				<div class="contact-us">
					<h2 class="text">Contact Me</h2>
					<form>
						<input type="text" name="Your Name" placeholder="Your Name" class="width padding">
						<br>
						<br>
						<input type="email" name="Your Email Address" placeholder="Your Email Address" class="width padding">					
						<br>
						<br>
						<input type="number" name="phone" placeholder="Phone Number" class="width padding">
						<br><br>
						<textarea name="message" rows="10" cols="100" class="width padding">Message
						</textarea>
						<br><br>
						<input type="submit" value="SEND" class="submit">
					</form>
				</div>
			</section>

				<!-- Map section -->

			<section class="map-section">
				<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d22226.45723718152!2d76.36345922193854!3d32.20839853737877!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1537613099777" width="600" height="450" frameborder="0" style="border:0" allowfullscreen class="map"></iframe>
			</section>


			<!-- Table -->

			<section class="table">
				<h2>TABLE</h2>
				<table>
					<thead>
					    <tr>
					      <th>Sites</th>
					      <th>Views</th>
					      <th>Click</th>
					      <th>Average</th>	
					    </tr>
					</thead>
	  				<tbody>
	    				<tr>
					      <td class="sites">Google</td>
					      <td>9518</td>
					      <td>6369</td>
					      <td>01:32:50</td>
					    </tr>
	   					<tr>
	   						<td class="sites">Twitter</td>
					      	<td>7326</td>
					      	<td>10437</td>
					      	<td>00:51:22</td>
	    				</tr>
	    				<tr>
	   						<td class="sites">Amazone</td>
					      	<td>7326</td>
					      	<td>10437</td>
					      	<td>00:51:22</td>
	    				</tr>
	    				<tr>
	   						<td class="sites">Linkedin</td>
					      	<td>7326</td>
					      	<td>10437</td>
					      	<td>00:51:22</td>
	    				</tr>
	    				<tr>
	   						<td class="sites">Codepen</td>
					      	<td>7326</td>
					      	<td>10437</td>
					      	<td>00:51:22</td>
	    				</tr>
	    				<tr>
	   						<td class="sites">GitHub</td>
					      	<td>7326</td>
					      	<td>10437</td>
					      	<td>00:51:22</td>
	    				</tr>
	  				</tbody>
				</table>
			</section>

			<!-- Address -->

			<section class="address-section">
				<div class="address">
					<div class="location">
						<h2>LOCATION</h2>
						<p>vpo:Rakkar,Sidhbari <br>Dharmashala,176057</p>
					</div>

					<div class="aroundweb text">
						<h2>Around The Web</h2>
						<div class="circle">
							<i class="fab fa-facebook"></i>
						</div>
						<div class="circle">
							<i class="fab fa-google-plus"></i>
						</div>
						<div class="circle">
							<i class="fab fa-twitter"></i>
						</div>
						<div class="circle">
							<i class="fab fa-linkedin-in"></i>
						</div>
						<div class="circle">
							<i class="fab fa-dribbble-square"></i>
						</div>
					</div>

					<div class="about-atlcampus text">
						<h2>About Altcampus</h2>
						<p>A 6-Month program that helps you <br> become a software developer <br> By Altcampus.</p>
					</div>
				</div>
			</section>

			<!-- Footer -->

			<footer class="footer">Copyright @ Your Website 2018</footer>
		</section>
	</main>
</body>
</html>