.box1 {
  border-top:20px solid blue;
  border-left:20px solid green;
  border-right:20px solid gray;
  border-bottom:20px solid yellow;
  width:300px;
  height:300px;
  margin:10px;
  padding:20px;
  background:red;
  outline:#f4419b solid 20px;
}
body {
  color: white;
  display:inline-block;
}