@import "base";
@import url('https://fonts.googleapis.com/css?family=Montserrat');
.padding {
	padding: 2em 8em;
}

.text-padding{
	padding: 1.2em 0;
}
.main_container {
	max-width: 1100px;
	width: 80%;
	margin: 0 auto;
	border-radius: 9px;
	background-color: rgb(252, 252, 252);
	// padding: 10px 0;
}

.primary_container {
	background: url("../media/p1.jpg");
	width: 100%;
	height: 400px;
	// background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(190, 192, 196, 0.2);
  position: relative;
}

.hero_text {
		position: absolute;
  	top: 60%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	width: 40%;
  	text-align: center;
  	color: $primary-text-color;

  	button{
  		background: $button-color;
  		border-radius: 15px;
  		border: none;
  		padding: 8px 15px;
  		color:$primary-text-color;
 			font-size: 10px;
 			cursor: pointer;
  	}
}

.navigation {
	display: flex;
  align-items: center;
  justify-content: center;
	// justify-content: space-between;
	padding-top: 30px;
  
  a {
	  color:white;
	  font-weight: 300;
	  letter-spacing: 1px;
	  text-decoration: none;
	  padding:10px 5px;
	  transition:all 0.5s;
	  font-size: 1.1em;
	  margin-right: 1rem;

	}

		a:hover {
  	background:rgba(0,0,0,0.3);
	}

	span {
		font-family: 'Dancing Script', cursive; 
		font-weight: 600;
		font-size: 1.5em
	}

}
.hotel_text{
	position: absolute;
	top: 12.1%;
	left: 51%;
}

// .secondary_container {
// 	width: 80px;
// }


.service__list{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 25px;
}
.service__content {
	i{
		color: $button-color;
		font-size: 30px;
		padding: 15px 0; 
	}
}

.dream__home{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 25px;
	padding: 30px 0;

}
.dream__home__text{
	padding: 4em; 
}


	img{
		width: 100%;
	}

.room_image{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 25px;
}


.footer{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 20px;
	background-color: #cbced3; 
	// padding: 20px 0;

  li {
  	list-style-type: none;
  	margin: 10px 0;
  	color: $secondary-text-color;
 	a {
 		color: $secondary-text-color;
 	}
  }

  
}
.sevilla_style {

		font-family: 'Dancing Script', cursive; 
		font-weight: 600;
		font-size: 2em
}
h5{
	margin-top: 5px;
	margin-left: 3.5em;
}


// ===========================
// About Page
// ===========================


.about_primary_container{

	.about_navigation {
	display: flex;
  align-items: center;
  justify-content: center;
	// justify-content: space-between;
	padding-top: 30px;
  
  a {
	  color: grey;
	  font-weight: 300;
	  letter-spacing: 1px;
	  text-decoration: none;
	  padding:10px 5px;
	  transition:all 0.5s;
	  font-size: 1.1em;
	  margin-right: 1rem;

	}

}
}

.about_hotel_text{
	position: absolute;
	top: 7.7%;
	left: 51%;
}

.about_sevilla{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}

.featues{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;

	p {
		padding-right: 3em;
	}
}

// catalog---page


.btn{
  		background: $button-color;
  		border-radius: 15px;
  		border: none;
  		padding: 8px 15px;
  		color:$primary-text-color;
 			font-size: 10px;
 			cursor: pointer;
 			// float: right;
 			// margin-left: 12em;
 			// margin-top: 2em;
 			// display: flex;
  	}

  	.span{
  		display: flex;
  		margin-top: 2em;
  		justify-content: space-between;
  	}


  	// 404Page

  	.errorpage{
  		height: 400px;
  		position: relative;
  	}

  	.errorcontent{
  		padding: absolute;
  		text-align: center;
  		top: 50%;
  		left: 50%;
  	}
  